body,html{
    height: 100%;
    background: rgb(54,117,112);
}
*{
    margin: 0;
}
.container{
    width: 1000px;
    height: 550px;
    background: white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 40px;
    overflow: hidden;
    background: rgb(246,246,246);
}
.header{
    height: 80px;
    box-sizing: border-box;
    border-bottom: 3px dotted gray;
    text-align: center;
    padding-top:30px ;
}
.img{
    width: 500px;
    height: 500px;
    float: left;
}
.img img{
    width:300px ;
    height: 300px;
    border:12px solid rgba(50,28,13,0.85);
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-30%) translateY(-50%);
}
.input-box{
    width: 500px;
    height: 500px;
    float: left;
    padding-top: 50px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
ul>li{
    margin-bottom: 5px;
}
.user-input{
    margin-top: 30px;
    margin-bottom: 20px;
}
.time-box{
    height: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 15px;
}
.hobby{
    margin-left: 40px;

}
.year{
    margin: auto 20px;
}
.btn{
    margin-top: 20px;
}